<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zycm.zybao.dao.MediaGroupRelationDao" >

  <!--  更改分组 -->
  <update id="updateGroup" parameterType="map">
    update fb_media_group_relation set media_group_id = #{mediaGroupId}
    where mid in (
    	<foreach collection="mids" item="mid" separator=",">
			#{mid}
		</foreach>
    )
  </update>
  <!-- 切换分组 -->
  <update id="updateGroupMediaByGroupId" parameterType="map">
    update fb_media_group_relation set media_group_id=#{newMediaGroupId} where media_group_id = #{oldMediaGroupId,jdbcType=INTEGER}
  </update>

  <!--   批量添加 -->
  <insert id="batchInsert" parameterType="MediaGroupRelationModel" >
    insert into fb_media_group_relation (media_group_id, mid)
    values
    <foreach collection="list" item="item" separator=",">
    	(#{item.mediaGroupId,jdbcType=INTEGER}, #{item.mid,jdbcType=INTEGER})
    </foreach>
  </insert>
  <!--  验证多个终端组是否有关联媒体机 -->
  <select id="selectMidByGroupId"  resultType="map">
  	SELECT
		a.media_group_name,
		b.media_group_id,
		b.mid
	FROM
		fb_media_group a
	LEFT JOIN fb_media_group_relation b ON a.media_group_id = b.media_group_id
	WHERE
		b.media_group_id IN (
		<foreach collection="array" separator="," item="item">
			#{item}
		</foreach>
		)
  </select>

 <!--  根据多个终端id查询终端组id -->
 <select id="selectGroupIdByMids" resultType="map">
 	SELECT
		a.media_group_id as mediaGroupId,
		a.mid,
		b.media_group_name as mediaGroupName
	FROM  fb_media_group_relation a LEFT JOIN fb_media_group b on a.media_group_id=b.media_group_id
	where a.mid in (
		<foreach collection="array" separator="," item="item">
			#{item}
		</foreach>
	) group by a.media_group_id
 </select>
  <!-- 清理关联关系 -->
  <delete id="deleteByMid" >
  	DELETE from fb_media_group_relation where mid in (
  		<foreach collection="array" separator="," item="item">
			#{item}
		</foreach>
  	)
  </delete>

  <insert id="insert" parameterType="MediaGroupRelationModel" >
    insert into fb_media_group_relation (media_group_id, mid)
    values (#{mediaGroupId,jdbcType=INTEGER}, #{mid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="MediaGroupRelationModel" >
    insert into fb_media_group_relation
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="mediaGroupId != null" >
        media_group_id,
      </if>
      <if test="mid != null" >
        mid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="mediaGroupId != null" >
        #{mediaGroupId,jdbcType=INTEGER},
      </if>
      <if test="mid != null" >
        #{mid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>
